{% extends "index.html" %}
{% block movies %}

{% for movie in movies.Search %}

<div class="col-sm mb-3">
  <div class="card" style="width: 24rem">
    <img src="{{ movie.Poster }}" class="card-img-top" width="200px" height="500px" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ movie.Title }}</h5>
      <p class="card-text">
        {{ movie.Year }}
      </p>
      <a href="{{url_for('single_movie', title=movie.Title)}}" class="btn btn-primary">Descriptions</a>
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}
