{% extends "index.html" %}

{% block search %}
<form class="col-lg" action="{{url_for('search_by_title')}}" method="post">
    <div class="form-row">
        <div class="col-md-6 mb-3">
            <label for="validationTitle">Title</label>
            <input type="text" name="title" class="form-control" placeholder="Title" required>
        </div>
        <div class="col-md-6 mb-3">
            <label for="validationYear">Year</label>
            <input type="number" name="year" class="form-control" placeholder="Year">
        </div>
    </div>

    <button class="btn btn-primary" href="url_for('search_by_title')" type="submit">Search</button>
</form>
{% endblock %}

